version: "3.8"

services:
  mongo:
    image: mongo
    container_name: hostel_mongo
    restart: always
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: hostel_backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: hostel_frontend
    restart: always
    depends_on:
      - backend

  nginx:
    image: nginx
    container_name: hostel_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data: